<div>
  <div *ngIf="isNotFound" >Not Found</div>
  <div *ngIf="!product&&!isNotFound">loading</div>
  <div class="d-flex flex-column" *ngIf="product">
    <form [formGroup]="prodFrom" (ngSubmit)="onSubmit()" class="d-flex flex-column">
                <img style="max-width:200px" src='{{product.url}}' alt="">
                <label for="name">Name</label>
                <input type="text" formControlName="name">
                <label for="descritption">Desc:</label>
                <textarea name="" id="" rows="10" formControlName="descritpion"></textarea>
                <label for="price">Price</label>
                <input type="number" formControlName="price">
                <button type="submit" class="btn btn-success" [disabled]="!prodFrom.valid">{{prodFrom.dirty?'Save':'Back'}}</button>
            </form>
  </div>
</div>
<app-product-modal *ngIf="isSubmited" [massage]="'Product '+product.id+' is Updated successufly'"></app-product-modal>


