<div *ngIf="!productsService.prodcuts">Loading...</div>
<div>
<div class="card mb-3 list-group-item clearfix " style="max-width: 540px;cursor: pointer; " *ngFor="let prod of productsService.prodcuts|async ;let i=index"
routerLinkActive="active" [routerLink]="['/products',prod.id]" >
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src='{{prod.thumbnailUrl}}' class="card-img" alt='{{prod.name}}'>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{prod.name }}</h5>
              <p class="card-text">{{prod.description }}</p>
              <button class="btn btn-danger" (click)="onDelete(i); $event.stopPropagation()">Delete</button>
            </div>
          </div>
        </div>
      </div>
</div>
